@page "/popular"
@using Chirp.Core
@using Chirp.Core.DTOs
@using Chirp.Web.Pages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@using Microsoft.IdentityModel.Tokens
@model Chirp.Web.Pages.PopularTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    
    int pageNumber = Model.PageNumber;
    int totalPages = Model.TotalPageNumber == 0 ? 1 : Model.TotalPageNumber;
    var cheepListViewModel = new Chirp.Web.ViewModels.CheepListViewModel(Model._service, Model.Cheeps)
    {
        UserAuthor = Model.UserAuthor
    };

}

<div xmlns="http://www.w3.org/1999/html">
    <div class="timeline-header">
        <h2> Popular Cheeps Timeline </h2>
    </div>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        @* Render the Share Form Partial View *@
        {
            ViewData["pageNumber"] = pageNumber;
        }
        @await Html.PartialAsync("_ShareCheepForm", Model.SharedChirpView)
    }

    @await Html.PartialAsync("_CheepSorting")
    
    @await Html.PartialAsync("_CheepList", cheepListViewModel)

    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; align-items: center; width: 300px; justify-content: space-between;">
            <div style="width: 80px; display: flex; justify-content: flex-start;">
                @if (@pageNumber != 1)
                {
                    <a href="/popular?page=1" style="text-decoration: none; margin-right: 5px;">
                        <button style="display: inline-block; margin: 0;">&lt;&lt;</button>
                    </a>
                    <a href="/popular?page=@(pageNumber - 1)" style="text-decoration: none;">
                        <button style="display: inline-block; margin: 0;">&lt;</button>
                    </a>
                }
            </div>

            <p style="margin: 0;">Page @pageNumber / @totalPages</p>

            <div style="width: 80px; display: flex; justify-content: flex-end;">
                @if (@pageNumber != @totalPages)
                {
                    <a href="/popular?page=@(pageNumber + 1)" style="text-decoration: none; margin-right: 5px;">
                        <button style="display: inline-block; margin: 0;">&gt;</button>
                    </a>
                    <a href="/popular?page=@totalPages" style="text-decoration: none;">
                        <button style="display: inline-block; margin: 0;">&gt;&gt;</button>
                    </a>
                }
            </div>
        </div>
    </div>

</div>