@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        Deleting this data will permanently remove your account, and this cannot be recovered.
            <br/>
            Remember the username field is case-sensitive.
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            @* <label asp-for="Input.Username" class="form-label"></label> *@
            <input asp-for="Input.Username" class="form-control" style="width: 200px;" autocomplete="Username" aria-required="true" placeholder="Please enter your username..." />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <button class="w-100 btn btn-lg btn-danger" type="submit">Delete all my data and close my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
