.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #c7ecee, #22a6b3);
    filter: blur(16px) brightness(1.1);
    z-index: -1; /* Place it behind the content */
}

body {
    /*background: #c7ecee;*/
    /*background-image: linear-gradient(135deg, #c7ecee, #22a6b3);*/
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

a {
    color: #26776F;
}

a:hover {
    color: #333;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
    background: white;
    border: 1px solid #e6c0bf;
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 5px;
    color: #571010;
}

input[type="submit"] {
    background: #571010;
    border: 1px solid #3b0707;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

div.page {
    width: 700px;
    background: white;
    border: 1px solid #cc6e6e;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
}

div.page > h1 {
    background: #cc6e6e;
    margin: 0;
    padding: 10px 14px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #772424;
    font-weight: normal;
    font-size: 80px;
}

div.page h1 img {
    height: 1em;
}

div.page div.navigation {
    position: fixed;
    left: auto;             /* Distance from the left edge of the viewport */
    margin-left: -220px; /* Adjust to place content right next to the navbar */
    top: 50px;              /* Distance from the top to align with the header */
    width: 150px;           /* Set a fixed width */
    padding: 10px;
    color: white;
    overflow-y: auto;       /* Allow scrolling if content overflows */
}

div.page div.navigation a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 15px;
    display: inline-flex;  
    align-items: center;   /* Align children (image and text) vertically at the center */
    transition: background-color 0.4s ease;
    border-radius: 20px;
}

div.page div.navigation a:hover {
    background-color: #95afc0;
}

div.page div.navigation img {
    height: 1.3em;
    width: auto;
    margin-right: 10px;}

div.page div.navigation form {
    display: contents;
}

div.page div.navigation form button {
    padding: unset;
    background: unset;
    color: #444;
    font-weight: bold;
    display: inline-block;
    font-size: unset;
    cursor: pointer;
    text-decoration: underline;
    font-family: unset;
    letter-spacing: unset;
}

div.page h2 {
    margin: 0 0 5px;
    color: #571010;
    text-shadow: 0 1px 2px #ccc;
}

.timeline-header {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    position: relative; /* Ensures the button can be placed to the left */
}

.timeline-button {
    position: absolute;
    left: 0; /* Position the button to the left of the container */
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

div.page div.followstatus {
    border: 1px solid #ccc;
    background: #E3EBEA;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 3px;
    font-size: 13px;
}

div.page ul.cheeps {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.page ul.cheeps li {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    border-radius: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 48px;
}

div.page ul.cheeps p {
    margin: 0;
}

div.page ul.cheeps li img {
    float: left;
    padding: 0 10px 0 0;
}

div.page ul.cheeps li small {
    font-size: 0.9em;
    color: #888;
}

div.page div.cheepbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #e29494;
    border-radius: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.page div.cheepbox h3 {
    margin: 0;
    font-size: 1em;
    color: #7e2c2c;
}

div.page div.cheepbox p {
    margin: 0;
}

div.page div.cheepbox input[type="text"] {
    width: 585px;
}

div.page div.cheepbox input[type="submit"] {
    width: 70px;
    margin-left: 5px;
}

div.message {
    list-style: none;
    margin: 10px 10px 0;

    background: #f3b9b9;
    border: 1px solid #ce8181;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

ul.message li {
    background: #f3b9b9;
    border: 1px solid #ce8181;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.topics {
    width: 180px;
    height: 250px;
    background: #ffffff;
    border: 1px solid #e29494;
    border-radius: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 460px;
    padding: 10px;
}

ul.topic {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.topic {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    border-radius: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 20px;
}

form * {
    margin: 2px 0;
}

button {
    background-color: #cc6e6e;
    border: none;
    color: white;
    padding: 8px 16px;  /* Add padding for even spacing */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

button:hover {
    background-color: #8b4949;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc6e6e;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #8b4949;
}

.cheep-container {
    display: flex;
    align-items: center;
}

.cheep-container form {
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.cheep-container>form>button {
    border: none;
    color: white;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 0 5px;
    height: auto;
    border-radius: 50px;
}

.cheep-container>form:has(#followButton)>button {
    background-color: #5690a3;
}

.cheep-container>form:has(#unfollowButton)>button {
    background-color: #cc6e6e;
}
.providerImg {
    height: 2em;
    width: auto;
    margin-right: 5px;
}

.reactionform {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}



.reactionform button {
    background-color: grey;
}

.reactionform button:has(.likeactive) {
    background-color: green;
}

.reactionform button:has(.dislikeactive) {
    background-color: red;
}