<div class=navigation>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div>
            <a href="/@(User.Identity.Name)">My timeline</a> |
            <a href="/">Public timeline</a> |
            <a href="/identity/Account/Manage"> Manage account</a> | 
            <a href="/Identity/Account/Logout">Logout [@(User.Identity.Name)]</a>
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline</a> |
            <a href="/Identity/Account/Register">register</a>
            <a href="/Identity/Account/Login">login</a>
        </div>
    }
</div>