@model Chirp.Web.Pages.Views.SharedChirpViewModel

<div class="cheepbox">
    @* <h3>What's on your mind @(User.Identity?.Name)?</h3> *@
    @if (User.Identity != null && !string.IsNullOrEmpty(User.Identity.Name))
    {
    <h3>What's on your mind @User.Identity.Name?</h3>
    }
    else
    {
    <h3>What's on your mind?</h3>
    }
    <form asp-page="SubmitCheep" style="display: flex; align-items: center;">
        <input type="text" asp-for="CheepText" style="flex: 1; margin-right: 5px;">
        <input type="hidden" name="PageNumber" value="@ViewData["pageNumber"]" />
        <input type="submit" value="Share">
        <span asp-validation-for="CheepText" class="text-danger" style="margin-left: 10px;"></span>
    </form>
</div>